.project__container {
	height: 100svh;
	width: 100vw;
	overflow: hidden;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	position: relative;

	.project__title-wrapper {
		grid-column-start: 1;
		grid-row-start: 1;
		margin: 32px 32px auto auto;
		text-align: right;
		max-width: 50%;
		z-index: 10;
		cursor: auto;
		color: white;
		line-height: 1.3;
		transition: transform 0.2s ease-in-out;
		@media (max-width: 1370px) {
			max-width: 70%;
		}
		@media (max-width: 1024px) {
			margin: 24px 24px auto auto;
		}
		@media (max-width: 768px) {
			position: absolute;
			text-align: right;
			max-width: 100%;
			bottom: 12px;
			right: 20px;
			margin: 0;
		}
		h1 {
			text-align: right;
			font-weight: 500;
			@media (max-width: 768px) {
				text-align: right;
			}
		}
		span {
			font-size: 1rem;
			font-weight: 400;
			@media (max-width: 768px) {
				font-size: 0.85rem;
			}
		}
	}

	img {
		grid-column-start: 1;
		grid-row-start: 1;
	}
}

.project__container--portrait {
	background: hsla(var(--background-color-1), 0.5);
	background-image: radial-gradient(at 0% 79%, hsla(var(--background-color-2), 0.7) 0px, transparent 70%);

	.project__title-wrapper {
		color: black;
		text-shadow: 1px 1px 15px rgba(180, 180, 180, 0.2);
	}
}

.project__container--landscape {
	.project__title-wrapper {
		text-shadow: 1px 1px 15px rgba(71, 71, 71, 0.8);
	}
}
.background__click {
	cursor: pointer;
}

.active-project-link:hover {
	cursor: pointer;
	transform: translate(-2px, -2px);
}

// MODAL

.project-modal__cross {
	position: fixed;
	right: 20px;
	top: 20px;
	stroke: white;
	cursor: pointer;
	text-shadow: 1px 1px 15px rgba(180, 180, 180, 0.2);
	padding: 20px;
	margin: -20px;
	z-index: 100;
	transition: stroke 0.5s ease;
	&:hover {
		stroke: rgb(106, 106, 106);
	}

	@media (max-width: 768px) {
		stroke: rgb(0, 0, 0);
	}
}

.left-arrow {
	left: 0;
}
.right-arrow {
	right: 0;
}
.arrow__container {
	height: 100svh;
	width: 50%;
	position: absolute;
	top: 0;
	cursor: none;
	display: block;
	@media (max-width: 768px) {
		display: none;
	}
}

.cursor {
	mix-blend-mode: difference;
	left: 50%;
	pointer-events: none;
	position: fixed;
	top: 50%;
	transform: translateX(-50%);
	z-index: 20;

	@media (max-width: 768px) {
		display: none;
	}
}

.cursor-flipped {
	transform: rotate(180deg) translateX(50%);
}

.project-modal__text-area--short-text {
	height: 100%;

	p {
		width: 70%;
		@media (max-width: 768px) {
			width: 100%;
		}
	}
}

.project-modal__text-area--long-text p {
	column-count: 2;
	column-gap: 4rem;
}

.paragraph {
	margin-bottom: 50px;
	@media (max-width: 768px) {
		margin: 0 0 20px 0;
	}
}

.align-left {
	text-align: left;
	margin-right: auto;
}

.align-right {
	text-align: right;
	margin-left: auto;
}
.align-right,
.align-left {
	@media (max-width: 768px) {
		text-align: left;
	}
}

.chevron-container {
	display: none;
	@media (max-width: 768px) {
		position: absolute;
		bottom: 75px;
		display: flex;
		background-color: rgba(0, 0, 0, 0.4);
		width: 35px;
		height: 35px;
		z-index: 20;
		border-radius: 100%;
	}
	&:hover {
		background-color: rgba(0, 0, 0, 0.9);
	}
}
.chevron {
	margin: auto;
	padding-right: 2px;
	padding-top: 2px;
}
.left-arrow {
	left: 5px;
}

.right-arrow {
	transform: rotate(180deg);
	right: 5px;
}

.project-modal__container {
	display: flex;
	position: fixed;
	inset: 0;
	z-index: 99;
	backdrop-filter: blur(20px);
}

.project-modal__wrapper {
	display: flex;
	cursor: none;
	position: relative;
	width: 100%;
	@media (max-width: 768px) {
		flex-direction: column-reverse;
	}
}

.project-modal__content--container {
	margin: auto;
	display: flex;
	position: relative;
	overflow: hidden;
	height: calc(100% - 10rem);
	max-width: calc(100% - 10rem);
	aspect-ratio: 4/3;
	pointer-events: none;
	@media (max-width: 768px) {
		max-width: calc(100% - 3rem);
	}
}

.project__content--image-container {
	grid-row-start: 1;
	grid-column-start: 1;
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
}

.portrait-image {
	max-height: 75svh;
	align-self: center;
	margin-top: 70px;
	@media (max-width: 768px) {
		margin-top: 0;
		max-height: 70svh;
		max-width: 90vw;
		margin: auto;
	}
}
