.scroll__icon {
	border-radius: 50%;
	display: flex;
	position: fixed;
	bottom: 20px;
	right: 20px;
	pointer-events: auto;
	cursor: pointer;
	background-color: #cfcfcf;
	z-index: 1000;
	width: 30px;
	height: 30px;
	opacity: 0;
	pointer-events: none;
	transition: background-color 0.2s ease-in, opacity 0.3s ease;
	@media (max-width: 768px) {
		top: 20px;
		z-index: 90;
	}
	&:hover {
		background-color: rgb(235, 235, 235);
	}
	svg {
		margin: auto;
		width: 12px;
	}
}

.show {
	opacity: 100;
	pointer-events: auto;
}
