.text-wrapper,
.rich-wrapper {
	background-color: var(--default-color);
	width: 100%;
	overflow-y: auto;
	border-top: 18px solid var(--default-color);
	border-bottom: 18px solid var(--default-color);
	cursor: none;
	pointer-events: auto;
	white-space: pre-line;
	line-height: 1.6;
	padding: 0 35px;
	pointer-events: none;

	@media (max-width: 768px) {
		padding: 0 20px;
		max-width: 100%;
		border-top: 15px solid var(--default-color);
		border-bottom: 15px solid var(--default-color);
	}
}
