.text-wrapper {
	cursor: none;
	pointer-events: auto;
	white-space: pre-line;
	line-height: 1.6;
	padding: 0 35px;
	font-size: 1.1rem;
	pointer-events: none;
	font-weight: 300;

	@media (max-width: 768px) {
		padding: 0 20px;
		max-width: 100%;
	}
}
