.chevron-container {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	bottom: 60px;
	width: 35px;
	height: 35px;
	z-index: 20;
	display: none;
	@media (max-width: 768px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&:hover {
		background-color: rgba(0, 0, 0, 0.9);
	}
}

.chevron-container .chevron {
	position: absolute;
	width: 15px;
	height: 3px;
	background-color: white;
}

.chevron-container .chevron:nth-child(1) {
	margin-top: -3px;
	transform-origin: left center;
	transform: rotate(35deg);
	border-radius: 5px;
}

.chevron-container .chevron:nth-child(2) {
	transform-origin: left center;
	transform: rotate(-35deg);
	border-radius: 5px;
}

.left-boy {
	left: 5px;
}

.right-boy {
	transform: rotate(180deg);
	right: 5px;
}
