@use "./reset.scss";

:root {
	--default-color: #f3f1e9;
	--background-color-1: 0, 0%, 95%;
	--background-color-2: 0, 0%, 95%;
	--background-color-3: 0, 0%, 95%;
	--background-color-4: 0, 0%, 95%;
}

body {
	background-color: var(--default-color);
}

main {
	scroll-snap-type: y mandatory;
	overflow-y: auto;
	width: 100vw;
	height: 100svh;
}

main > section {
	text-align: center;
	scroll-snap-align: center;
}

h1,
.text-h1 {
	font-size: 4.5rem;

	@media (max-width: 1024px) {
		font-size: 3.5rem;
	}
	@media (max-width: 768px) {
		font-size: 1.5rem;
	}
}

h2,
.text-h2 {
	font-size: 3.5rem;
	@media (max-width: 1024px) {
		font-size: 3rem;
	}
}

.rich-text-content h3,
h3,
.text-h3 {
	font-size: 3rem;
	@media (max-width: 1024px) {
		font-size: 2.5rem;
	}
	@media (max-width: 768px) {
		font-size: 1.5rem;
	}
}

.rich-text-content h4,
h4 {
	font-size: 2.5rem;
}

.rich-text-content h5,
h5 {
	font-size: 2rem;
}

.rich-text-content h6,
h6,
.text-h6 {
	font-size: 1.5rem;
	@media (max-width: 1024px) {
		font-size: 1.3rem;
	}
	@media (max-width: 768px) {
		font-size: 1.2rem;
	}
}

span,
p {
	font-weight: 300;
	font-style: normal;
	font-size: 1.1rem;
	line-height: 1.5;
	@media (max-width: 768px) {
		font-size: 1rem;
	}
}
/* Paragraph */
.rich-text-content p {
	margin-bottom: 1rem;
}

.rich-text-content p:last-child {
	margin-bottom: 0;
}

/* Links */
.rich-text-content a {
	color: #007bff;
	text-decoration: none;
}

.rich-text-content a:hover {
	text-decoration: underline;
}

/* Bold */
.rich-text-content strong,
.rich-text-content b {
	font-weight: bold;
}

/* Italic */
.rich-text-content em span,
.rich-text-content i span {
	font-style: italic;
}

/* Underlined */
.rich-text-content u {
	text-decoration: underline;
}

.rich-text-content p,
.rich-text-content h3,
.rich-text-content h4,
.rich-text-content h5,
.rich-text-content h6 {
	margin-bottom: 1rem;
}

.rich-text-content,
.rich-text-content div {
	width: 100%;
}

/* width */
.rich-text-content ::-webkit-scrollbar {
	width: 6px;
	margin: -10px;
}

/* Track */
.rich-text-content ::-webkit-scrollbar-track {
	background: #e5e4e4;
	border-radius: 5px;
}

/* Handle */
.rich-text-content ::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
.rich-text-content ::-webkit-scrollbar-thumb:hover {
	background: #555;
}
