.contact__container {
	position: absolute;
	pointer-events: none;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 30;
	width: 50vw;
	background-color: #fcfcfc;
	display: flex;
	justify-content: center;
	transition: transform 1s ease;
	transform: translateX(-200%);
}

.contact--open {
	transform: translateX(0);
	pointer-events: auto;
}

.contact__wrapper {
	// padding: 30px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	p {
		font-family: "poppins";
		padding: 20px;
		text-align: center;
		line-height: 1.6;
	}
	a {
		text-decoration: none;
		color: black;
		&:hover {
			color: rgb(51, 51, 51);
		}
	}
}
