.contact__container {
	pointer-events: none;
	position: absolute;
	z-index: 35;
	height: 100%;
	width: 50vw;
	background-color: #fcfcfc;
	top: 0;
	left: 0;
	transition: transform 1s ease;
	transform: translateX(-100%);

	@media (max-width: 768px) {
		width: 100vw;
		z-index: 1000;
	}
}

.contact__wrapper {
	display: grid;
	height: calc(100% - 40px);
	grid-template-rows: 1fr auto;
	padding: 20px 45px;

	@media (max-width: 768px) {
		padding: 10px 20px;
		height: 100%;
	}
}

.contact__open {
	transform: translateX(100%);
	pointer-events: auto;
	overflow: auto;

	@media (max-width: 768px) {
		transform: translateX(0);
	}
}

.text-block {
	margin: auto;
	p {
		line-height: 1.6;
		text-align: center;
	}

	@media (max-width: 400px) {
		padding-top: 30px;
	}
}
.socials {
	align-self: end;
	display: flex;
	flex-direction: column;
	padding-bottom: 24px;
	margin: 0 auto;
	row-gap: 12px;

	@media (max-width: 768px) {
		padding-bottom: 35px;
	}
	a {
		font-size: 1rem;
		text-align: center;
		text-decoration: none;
		color: black;
		transition: color 0.5s ease;
		&:hover {
			color: rgb(145, 145, 145);
		}
	}

	&__links {
		display: flex;
		column-gap: 8px;
		margin: 0 auto;
		svg {
			transition: fill 0.5s ease;
			fill: black;
			&:hover {
				fill: rgb(145, 145, 145);
			}
		}
	}
}

.contact__cross {
	display: none;
	@media (max-width: 768px) {
		display: block;
		position: fixed;
		stroke: rgb(0, 0, 0);
		top: 15px;
		right: 15px;
		cursor: pointer;
		z-index: 40;
	}
}
