.header-title {
	transition: transform 0.5s ease-in-out;
	transform: translateZ(0);

	font-weight: 600;
	font-style: normal;
	top: 32px;
	left: 32px;
	line-height: 1.1;
	position: absolute;
	cursor: pointer;
	color: white;
	mix-blend-mode: exclusion;
	z-index: 55;
	transform-origin: top left;
	font-size: 4.5rem;

	@media (max-width: 1024px) {
		top: 20px;
		left: 20px;
		z-index: 9999;
		font-size: 3.5rem;
	}
}

.header-title--large {
	transform: scale(1);
}

.header-title--small {
	transform: scale(0.5);
}
