.project-modal__sidebar {
	padding: 20px;
	background-color: var(--default-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	pointer-events: none;
	span {
		text-align: center;
		writing-mode: vertical-rl;
		transform: rotate(-180deg);
	}
}
