@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	box-sizing: border-box;
}

:root {
	--default-color: #f3f1e9;
}

// $breakpoints: (
// 	sm: 640px,
// 	md: 768px,
// 	lg: 1024px,
// 	xl: 1280px,
// 	2xl: 1536px,
// );
body {
	font-family: "poppins";
	background-color: var(--default-color);
}

h1,
.text-h1 {
	font-size: 4.5rem;
	@media (max-width: 768px) {
		font-size: 1.5rem;
	}
}

h2,
.text-h2 {
	font-size: 3.5rem;
}
.rich-text-content h3,
h3,
.text-h3 {
	font-size: 3rem;
	@media (max-width: 768px) {
		font-size: 1.5rem;
	}
}
.rich-text-content h4,
h4 {
	font-size: 2.5rem;
}

.rich-text-content h5,
h5 {
	font-size: 2rem;
}

.rich-text-content h6,
h6,
.text-h6 {
	font-size: 1.5rem;
	@media (max-width: 768px) {
		font-size: 1.2rem;
	}
}

p {
	font-family: "PT Serif", serif;
}

span,
p {
	font-weight: 300;
	font-style: normal;
	font-size: 1.1rem;
	line-height: 1.5;
	@media (max-width: 768px) {
		font-size: 1rem;
	}
}

/* Paragraph */
.rich-text-content p {
	margin-bottom: 1rem;
}

/* Links */
.rich-text-content a {
	color: #007bff;
	text-decoration: none;
}

.rich-text-content a:hover {
	text-decoration: underline;
}

/* Bold */
.rich-text-content strong,
.rich-text-content b {
	font-weight: bold;
}

/* Italic */
.rich-text-content em,
.rich-text-content i {
	font-style: italic;
}

/* Underlined */
.rich-text-content u {
	text-decoration: underline;
}

.rich-text-content p,
.rich-text-content h3,
.rich-text-content h4,
.rich-text-content h5,
.rich-text-content h6 {
	margin-bottom: 1rem;
}

main {
	display: flex;
	flex: none;
	overflow: auto;
	width: 100vw;
	height: 100vh;
	flex-flow: column nowrap;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
}

.rich-text-content,
.rich-text-content div {
	overflow-y: auto;
}

main > section {
	text-align: center;
	scroll-snap-align: start;
	flex: none;
	height: 100%;
	width: 100%;
}
